<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940700460951-6qhr2b3ng46ga1b5ubs183jsg5vukjed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940700460951-6qhr2b3ng46ga1b5ubs183jsg5vukjed</string>
	<key>API_KEY</key>
	<string>AIzaSyBcqpyZFSRAhaXs5XajHVPznW4dC3LhG3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>940700460951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.beepeach.DeerNote</string>
	<key>PROJECT_ID</key>
	<string>deernote-5513f</string>
	<key>STORAGE_BUCKET</key>
	<string>deernote-5513f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940700460951:ios:e9cea07aa42888682246d2</string>
</dict>
</plist>